Source: ibus-table-others
Section: utils
Priority: optional
Maintainer: IME Packaging Team <pkg-ime-devel@lists.alioth.debian.org>
Uploaders: Asias He <asias.hejun@gmail.com>, LI Daobing <lidaobing@debian.org>
Build-Depends: debhelper (>= 7), autotools-dev, python (>= 2.5), pkg-config, ibus-table (>= 1.3.0)
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/ibus
Vcs-Bzr: lp:~pkg-ime/ibus/debian-ibus-table-others
Vcs-Browser: https://code.launchpad.net/~pkg-ime/ibus/debian-ibus-table-others

Package: ibus-table-compose
Architecture: all
Replaces: ibus-table (<=1.3.0.20100621-1)
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.3.0)
Description: ibus-table input method: Compose
 This package provide one input method: Compose

Package: ibus-table-ipa-x-sampa
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.3.0)
Description: ibus-table input method: IPA-X-SAMPA
 This package provide one input method: IPA-X-SAMPA
 .
 For more information of IPA-X-SAMPA, see http://en.wikipedia.org/wiki/X-SAMPA

Package: ibus-table-translit
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.3.0)
Description: ibus-table input method: Translit
 This package provide one input method: Translit
 .
 Translit is a Russian input method.

Package: ibus-table-translit-ua
Architecture: all
Replaces: ibus-table-translit (<= 1.2.0.20090907-1)
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.3.0)
Description: ibus-table input method:  Ukrainian Translit
 This package provide one input method: Ukrainian Translit.
 .
 Ukrainian Translit is a Ukrainian input method.

Package: ibus-table-rustrad
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.3.0)
Description: ibus-table input method: Russian Traditional
 This package provide one input method: Russian Traditional
 .
 Russian Traditional is a Russian input method.

Package: ibus-table-yawerty
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.3.0)
Description: ibus-table input method: Yawerty
 This package provide one input method: Yawerty.

Package: ibus-table-thai
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.3.0)
Description: ibus-table input method: Thai
 This package provides one input method: Thai.
 .
 Thai is a Thai language input method.

Package: ibus-table-viqr
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.3.0)
Description: ibus-table input method: Viqr
 This package provides one input method: Viqr.
 .
 Viqr is a Vietnamese input method.

Package: ibus-table-latex
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.3.0)
Description: ibus-table input method: LaTeX
 This package provides one input method: LaTeX.
 .
 For more information of LaTex, see http://en.wikipedia.org/wiki/LaTeX.

Package: ibus-table-cns11643
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.3.0)
Description: ibus-table input method: Cns11643
 This package provides one input method: Cns11643.

Package: ibus-table-emoji
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.3.0)
Description: ibus-table input method: Emoji
 This package provides one input method: Emoji.
 .
 Emoji is the Japanese term for the picture characters or emoticons used in
 Japanese wireless messages and webpages.  For more information, see
 http://en.wikipedia.org/wiki/Emoji.
